body {
    background-color: rgb(0, 0, 0);
    margin: 0;
  }
  
  .cabecalho {
    
    
    font-family:monospace;
    display: flex;
    justify-content:center;
    background-color: rgb(41, 41, 41);
    padding: 10px;
    
    
    
    
  }
  .cabecalho a{
      text-decoration: none;
  }
  
  #titulo {
    color: white;
    font-size: 20px;
    
  }
  
  #minha_foto {
    width: 300px;
    border-radius: 100%;
  }
  .description{
      background-color: white;
      padding: 10px;
      border-radius: 2%;
  }
  .description_paragrafo  {
    width: 350px;
    margin-top: 0px;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    font-family: monospace, sans-serif;
    
  }
  
  main {
    margin-top: auto;
  }
  
  li {
    color: red;
    font-weight: 700;
  }
  
  .first_container {
    
    
    padding: 50px;
    padding-top: 20px;
    
    border-bottom-left-radius: 2%;
  }
  .photo{
      display: flex;
    justify-content: center;
  }
  .social_midia{
      margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  
  .article_aside {
    display: flex;
    color: red;
  }
  .icon{
      color: white;
  }
  .icon:hover{
      color: purple;
  }
  
  .listas{
      margin-top: 100px;
      display: flex;
      justify-content: space-around;
  }
  
  .background_list{
      font-family: sans-serif;
      background-color: white;
      padding-right: 35px;
      border-radius: 10%;
      
  }
  .background_list li{
      color: black;
  }
  ol{
      list-style-type: none;
  }
  
  .teste{
      margin-left: 10px;
  
  }
  
  #title_soft{
      margin-left: 60px;
  }
  
  #title_hard{
      margin-left: 40px;
  }
  
  #title_skills{
      margin-left: 40px;
  }